= render "shared/profile/contributions", title: "Team Activity", contribution_years: @contribution_years, contribution_year: @contribution_year, contribution_weeks: @contribution_weeks, contribution_month_spans: @contribution_month_spans, weekday_labels: @weekday_labels, profile_routes: team_profile_routes(@team.name, week_start: WeekCalculation.week_start_param(@week_start_day)), turbo_frame: "team-activity"
