| A new message has arrived in a thread you're subscribed to.

| Thread: #{@topic.title}

| View thread: #{@thread_url}

| ---
| You're receiving this because you subscribed to email notifications for this thread.
| Unsubscribe: #{@unsubscribe_url}
