.sidebar {
  position: sticky;
  top: calc(var(--nav-height) + var(--spacing-5));
  align-self: start;
}

.sidebar-section {
  margin-bottom: var(--spacing-8);
}

.sidebar-content {
  padding: var(--spacing-3);
}

.sidebar-heading {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-3);
  background-color: var(--color-bg-sidebar-header);
  text-align: right;
}

.sidebar .quick-filters {
  list-style: square inside;
  padding-left: 0;

  & a {
    color: var(--color-text-link);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
  }

  & a:hover {
    text-decoration: underline;
  }
}

