.sidebar-section
  h2.sidebar-heading Sections
  ul.quick-filters
    li = link_to "In progress", "#in-progress"
    li = link_to "Up next", "#up-next"
    li = link_to "Recent results", "#recent"
    li = link_to "Branch health", "#health"
